body {
    background-color:lightskyblue;
}
img {
    height:400px;
    width:600px;
}
.title {
    border-style:solid;
    background-color:lightblue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }